<section class="w3l-courses" id="courses">
    <div class="blog py-5">
        <div class="container py-md-5 py-2">
            <h5 class="title-subw3hny text-center">Featured Courses</h5>
            <h3 class="title-w3l text-center">Popular <span class="inn-text">Courses</span></h3>

            <div class="row">
                <div class="col-lg-3 col-md-6 item mt-5">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="#course-single" class="zoom d-block">
                                <img class="card-img-bottom d-block" src="~/Edukator-Starter/assets/images/b1.jpg"
                                     alt="Card image cap">
                            </a>
                            <div class="post-pos">
                                <a href="#popular" class="receipe blue">Beginner</a>
                                <a href="#popular" class="receipe yellow ml-2">New</a>
                            </div>
                        </div>
                        <div class="card-body course-details">
                            <div class="price-review d-flex justify-content-between mb-1align-items-center">
                                <p>$53.00</p>
                                <ul class="rating-star">
                                    <li><span class="fas fa-star"></span></li>
                                    <li><span class="fas fa-star"></span></li>
                                    <li><span class="fas fa-star"></span></li>
                                    <li><span class="fas fa-star"></span></li>
                                    <li><span class="fas fa-star-o"></span></li>
                                </ul>
                            </div>
                            <a href="#course-single" class="course-desc">
                                The Essential Guide to Entrepreneurship
                            </a>
                            <div class="course-meta mt-4">
                                <div class="meta-item course-lesson">
                                    <span class="fas fa-users"></span>
                                    <span class="meta-value"> 68 Students enrolled</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-3 col-md-6 item mt-5">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="#course-single" class="zoom d-block">
                                <img class="card-img-bottom d-block" src="~/Edukator-Starter/assets/images/b2.jpg"
                                     alt="Card image cap">
                            </a>


                        </div>
                        <div class="card-body course-details">
                            <div class="price-review d-flex justify-content-between mb-1align-items-center">
                                <p>$70.00</p>
                                <ul class="rating-star">
                                    <li><span class="fas fa-star"></span></li>
                                    <li><span class="fas fa-star"></span></li>
                                    <li><span class="fas fa-star"></span></li>
                                    <li><span class="fas fa-star"></span></li>
                                    <li><span class="fas fa-star-o"></span></li>
                                </ul>
                            </div>
                            <a href="#course-single" class="course-desc">Sounds True’s Freedom to Choose Different</a>
                            <div class="course-meta mt-4">
                                <div class="meta-item course-lesson">
                                    <span class="fas fa-users"></span>
                                    <span class="meta-value"> 44 Students enrolled</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-3 col-md-6 item mt-5">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="#course-single" class="zoom d-block">
                                <img class="card-img-bottom d-block" src="~/Edukator-Starter/assets/images/b3.jpg"
                                     alt="Card image cap">
                            </a>
                            <div class="post-pos">
                                <a href="#reciepe" class="receipe blue">Beginner</a>
                                <a href="#popular" class="receipe yellow ml-2">Free</a>
                            </div>
                        </div>
                        <div class="card-body course-details">
                            <div class="price-review d-flex justify-content-between mb-1align-items-center">
                                <p>$69.00</p>
                                <ul class="rating-star">
                                    <li><span class="fas fa-star"></span></li>
                                    <li><span class="fas fa-star"></span></li>
                                    <li><span class="fas fa-star"></span></li>
                                    <li><span class="fas fa-star"></span></li>
                                    <li><span class="fas fa-star-o"></span></li>
                                </ul>
                            </div>
                            <a href="#course-single" class="course-desc">
                                Learn Master JQuery in a Short Period of
                                Time
                            </a>
                            <div class="course-meta mt-4">
                                <div class="meta-item course-lesson">
                                    <span class="fas fa-users"></span>
                                    <span class="meta-value"> 74 Students enrolled</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 item mt-5">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="#course-single" class="zoom d-block">
                                <img class="card-img-bottom d-block" src="~/Edukator-Starter/assets/images/b4.jpg"
                                     alt="Card image cap">
                            </a>


                        </div>
                        <div class="card-body course-details">
                            <div class="price-review d-flex justify-content-between mb-1align-items-center">
                                <p>$90.00</p>
                                <ul class="rating-star">
                                    <li><span class="fas fa-star"></span></li>
                                    <li><span class="fas fa-star"></span></li>
                                    <li><span class="fas fa-star"></span></li>
                                    <li><span class="fas fa-star"></span></li>
                                    <li><span class="fas fa-star-o"></span></li>
                                </ul>
                            </div>
                            <a href="#course-single" class="course-desc">Business Analysis: Working with Use Cases</a>
                            <div class="course-meta mt-4">
                                <div class="meta-item course-lesson">
                                    <span class="fas fa-users"></span>
                                    <span class="meta-value"> 64 Students enrolled</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="mt-5 mx-auto text-more text-center pt-lg-4">
                    <a href="courses.html" class="btn btn-style btn-primary">View All Courses</a>
                </div>
            </div>
        </div>
    </div>
</section>