<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="index.html" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>Edukator</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="~/dashmin-1.0.0/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">@ViewBag.name</h6>
                <span>Öğrenci</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a href="/Member/MyCourse/Index/" class="nav-item nav-link"><i class="fa fa-ticket-alt me-2"></i>Kurslarım</a>
            <a href="/Member/Profile/Index/" class="nav-item nav-link"><i class="fa fa-people-carry me-2"></i>Profilim</a>
            <a href="/Default/Index/" class="nav-item nav-link"><i class="fa fa-home me-2"></i>Ana Sayfa</a>
            <a href="/Contact/Index/" class="nav-item nav-link"><i class="fa fa-phone me-2"></i>iletişim</a>
            <a href="/MyProfile/LogOut/" class="nav-item nav-link"><i class="fa fa-door-closed me-2"></i>Çıkış Yap</a>
        </div>
    </nav>
</div>