@model List<Edukator.EntityLayer.Concrete.Course>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Fiyat</th>
        <th>Kategori</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CourseID</td>
            <td>@item.Title</td>
            <td>@item.Price</td>
            <td>@item.CategoryID</td>
            <td><a href="#" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="#" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="#" class="btn btn-outline-primary">Yeni Kurs Girişi</a>