
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

@await Component.InvokeAsync("_HeadPartial")

<body>

    @await Component.InvokeAsync("_NavbarPartial")

    @await Component.InvokeAsync("_FeaturePartial")

    @await Component.InvokeAsync("_AboutGridPartial")

    @await Component.InvokeAsync("_AboutPartial")

    @await Component.InvokeAsync("_StatisticsPartial")

    @await Component.InvokeAsync("_CoursePartial")

    @await Component.InvokeAsync("_TestimonialPartial")

    @await Html.PartialAsync("~/Views/Default/AddMailSubscribe.cshtml")

    @await Component.InvokeAsync("_FooterPartial")

    @await Component.InvokeAsync("_ScriptPartial")

</body>
</html>