<footer class="w3l-footer-22 position-relative">
    <div class="footer-sub py-5">
        <div class="container py-md-5">
            <div class="row sub-columns">
                <div class="col-lg-4 col-md-6 sub-one-left ab-right-cont pr-lg-5 mb-md-0  mb-4">
                    <h6>Hakkımızda </h6>
                    <p>
                        Edukator projesi Full Stack .Net Core Eğitimi Kapsamında gerçekleştirilen, N Katmanlı Mimari prensibiyle hazırlanan bir projedir.
                    </p>
                    <div class="columns-2">
                        <ul class="social">
                            <li>
                                <a href="#facebook"><span class="fab fa-facebook-f" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="#linkedin"><span class="fab fa-linkedin-in" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="#twitter"><span class="fab fa-twitter" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="#google"><span class="fab fa-google-plus-g" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="#pinterest"><span class="fab fa-pinterest-p" aria-hidden="true"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 sub-two-right pl-lg-5">
                    <h6>Useful Links</h6>
                    <ul>
                        <li>
                            <a href="index.html"><span class="fas fa-chevron-right mr-2"></span>Home</a>
                        </li>
                        <li>
                            <a href="about.html"><span class="fas fa-chevron-right mr-2"></span>About</a>
                        </li>
                        <li><a href="courses.html"><span class="fas fa-chevron-right mr-2"></span>Courses</a></li>
                        <li><a href="contact.html"><span class="fas fa-chevron-right mr-2"></span>Contact</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 sub-two-right pl-lg-5 mt-md-0 mt-4">
                    <h6>Help & Support</h6>
                    <ul>
                        <li>
                            <a href="#live">
                                <span class="fas fa-chevron-right mr-2"></span>Live
                                Chart
                            </a>
                        </li>
                        <li>
                            <a href="#faq"><span class="fas fa-chevron-right mr-2"></span>Faq</a>
                        </li>
                        <li>
                            <a href="#support"><span class="fas fa-chevron-right mr-2"></span>Support</a>
                        </li>
                        <li>
                            <a href="#terms">
                                <span class="fas fa-chevron-right mr-2"></span>Terms
                                of Services
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 sub-two-right mt-md-0 mt-4">
                    <h6>Research</h6>
                    <ul>
                        <li>
                            <a href="#"><span class="fas fa-chevron-right mr-2"></span> Academic Divisions</a>
                        </li>
                        <li>
                            <a href="#"><span class="fas fa-chevron-right mr-2"></span> Student Research</a>
                        </li>
                        <li>
                            <a href="#"><span class="fas fa-chevron-right mr-2"></span> Centers & Institutes</a>
                        </li>
                        <li><a href="#"><span class="fas fa-chevron-right mr-2"></span> Research Facilities</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- copyright -->
    <div class="copyright-footer text-center">
        <div class="container">
            <div class="columns">
                <p>
                    © 2021 Edukator. All rights reserved.Design by<a href="https://w3layouts.com/" target="_blank">
                        W3layouts
                    </a>
                </p>
            </div>
        </div>
    </div>
    <!-- //copyright -->
</footer>