@model List<Edukator.EntityLayer.Concrete.CourseRegister>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Member/Views/MemberLayout/Index.cshtml";
}


<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kurs Adı</th>
        <th>Kursa Git</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CourseRegisterID</td>
            <td>@item.Course.Title</td>
            <td><a href="#" class="btn btn-primary">Kursa Git</a></td>
        </tr>
    }
</table>