@model List<Edukator.EntityLayer.Concrete.AppRole>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="col-sm-12 col-xl-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Edukator Rol İşlemleri</h6>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Rol Adı</th>
                    <th scope="col">Sil</th>
                    <th scope="col">Güncelle</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Name</td>
                        <td><a href="/Role/DeleteRole/@item.Id" class="btn btn-outline-danger">Sil</a></td>
                        <td><a href="/Role/UpdateRole/@item.Id" class="btn btn-outline-success">Güncelle</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <a href="/Role/AddRole/" class="btn btn-outline-primary">Yeni Rol Girişi</a>
    </div>
</div>