<section class="w3l-testimonials" id="testimonials">
    <!-- /grids -->
    <div class="cusrtomer-layout py-5">
        <div class="container py-lg-4 py-md-3 py-2 pb-lg-0">
            <h5 class="title-subw3hny text-center mb-1">Referanslarımız</h5>
            <h3 class="title-w3l two text-center mb-sm-5 mb-4">
                Happy Clients & <span class="inn-text">Feedbacks</span>
            </h3>
            <!-- /grids -->
            <div class="testimonial-width">
                <div class="owl-two row">
                    <div class="col-lg-4 col-md-6 item mt-md-5 mt-4">
                        <div class="testimonial-content">
                            <div class="testimonial">
                                <i class="fas fa-quote-right"></i>
                                <blockquote>
                                    <q>
                                        Lorem ipsum dolor sit amet elit. Velit beatae
                                        laudantium
                                        voluptate rem ullam dolore nisi voluptatibus esse quasi, doloribus
                                        tempora.
                                    </q>
                                </blockquote>
                                <div class="testi-des">
                                    <div class="peopl align-self">
                                        <h3>John wilson</h3>
                                        <p class="indentity">Example City</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 item mt-md-5 mt-4">
                        <div class="testimonial-content">
                            <div class="testimonial">
                                <i class="fas fa-quote-right"></i>
                                <blockquote>
                                    <q>
                                        Lorem ipsum dolor sit amet elit. Velit beatae
                                        laudantium
                                        voluptate rem ullam dolore nisi voluptatibus esse quasi, doloribus
                                        tempora.
                                    </q>
                                </blockquote>
                                <div class="testi-des">
                                    <div class="peopl align-self">
                                        <h3>Julia sakura</h3>
                                        <p class="indentity">Example City</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 item mt-md-5 mt-4">
                        <div class="testimonial-content">
                            <div class="testimonial">
                                <i class="fas fa-quote-right"></i>
                                <blockquote>
                                    <q>
                                        Lorem ipsum dolor sit amet elit. Velit beatae
                                        laudantium
                                        voluptate rem ullam dolore nisi voluptatibus esse quasi, doloribus
                                        tempora.
                                    </q>
                                </blockquote>
                                <div class="testi-des">
                                    <div class="peopl align-self">
                                        <h3>Roy Linderson</h3>
                                        <p class="indentity">Example City</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /grids -->
    </div>
    <!-- //grids -->
</section>