<div class="col-sm-12 col-md-6 col-xl-4">
    <div class="h-100 bg-light rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Takvim</h6>
            <a href="">Etkinlikleri Gör</a>
        </div>
        <div id="calender"></div>
    </div>
</div>