<section class="w3l-stats-main" id="stats">
    <div class="container">
        <div class="row stats-con py-lg-0 py-5">
            <div class="col-lg-6 stats-content-right mb-lg-0 mb-lg-5 mb-2">
                <a href="#service" class="d-block zoom">
                    <img src="~/Edukator-Starter/assets/images/ab1.jpg" alt=""
                         class="img-fluid" />
                </a>
            </div>
            <div class="col-lg-6 stats-content-left pl-lg-5">

                <div class="stats_info counter_grid1 text-left mt-lg-5 mt-4">
                    <div class="icon stat-icon">
                        <p class="counter">@ViewBag.v1</p>
                    </div>
                    <div class="stat-icon-des">

                        <h4>
                            Kurs Kategorileri
                        </h4>
                        <p class="para-stat">
                            Yazılımdan müziğe, fotoğraftan girişime, resimden İngilizceye kadar onlarca farklı kategoride yüzlerce kurs sizlerle.
                        </p>
                    </div>
                </div>
                <div class="stats_info counter_grid text-left mt-lg-5 mt-4">
                    <div class="icon stat-icon">
                        <p class="counter">@ViewBag.v2</p>
                    </div>
                    <div class="stat-icon-des">

                        <h4>Kurslarımız</h4>
                        <p class="para-stat">
                            Alanında uzman eğitmenlerin en profesyonel çekim ortamlarında hazırladığı kurslarımız sürekli devam eden kampanyalarla sunuluyor.
                        </p>
                    </div>
                </div>
                <div class="stats_info counter_grid text-left mt-lg-5 mt-4">
                    <div class="icon stat-icon">
                        <p class="counter">@ViewBag.v3</p>
                    </div>
                    <div class="stat-icon-des">

                        <h4>Kullanıcılarımız</h4>
                        <p class="para-stat">
                            2023 yılının ilk çeyreğinde yayına aldığımız sitemizde an itibariyle 1000'e yakım kullanıcıya ulaştık.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>