@model Edukator.EntityLayer.Concrete.Category

@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="col-sm-12 col-xl-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Yeni Kategori Girişi</h6>
        <form method="post">
            <div class="mb-3">
                <label for="categoryname" class="form-label">Kategori Adı</label>
                <input type="text" class="form-control" id="categoryname" asp-for="CategoryName" />
            </div>     
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </form>
    </div>
</div>