<section class="w3l-homeblock1" id="about">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row cwp23-grids align-items-center">
                <div class="col-lg-6">
                    <h5 class="title-subw3hny">Hakkımızda</h5>
                    <h3 class="title-w3l">Alanında en popüler kurslar <span class="inn-text">bir tık uzakta</span></h3>
                    <h6 class="mt-md-4 mt-md-5 mt-4">
                        Kariyerini planlamaya ne dersin?
                        <br />Hadi başlayalım
                    </h6>
                    <a href="about.html" class="btn btn-style btn-primary mt-lg-5 mt-4">Kursları Keşfet</a>
                </div>
                <div class="HomeAboutImages col-lg-6 mt-lg-0 mt-5 pl-lg-5">
                    <div class="cwp23-text-cols row">
                        <div class="column col-6">
                            <div class="column-w3-img position-relative">
                                <a href="#">
                                    <img src="~/Edukator-Starter/assets/images/1.jpg" alt=""
                                         class="radius-image img-fluid">
                                </a>
                                <div class="edu-info">
                                    <h4 class="edu-heading-title"><a href="#">Yazılım Kursları</a></h4>
                                </div>
                            </div>
                            <div class="column-w3-img position-relative mt-4">
                                <a href="#">
                                    <img src="~/Edukator-Starter/assets/images/b8.jpg" alt=""
                                         class="radius-image img-fluid">
                                </a>
                                <div class="edu-info">
                                    <h4 class="edu-heading-title"><a href="#">İş & Analiz</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="column col-6">
                            <div class="column-w3-img position-relative">
                                <a href="#">
                                    <img src="~/Edukator-Starter/assets/images/b3.jpg" alt=""
                                         class="radius-image img-fluid">
                                </a>
                                <div class="edu-info">
                                    <h4 class="edu-heading-title"><a href="#">Girişimcilik</a></h4>
                                </div>
                            </div>
                            <div class="column-w3-img position-relative mt-4">
                                <a href="#">
                                    <img src="~/Edukator-Starter/assets/images/2.jpg" alt=""
                                         class="radius-image img-fluid">
                                </a>
                                <div class="edu-info">
                                    <h4 class="edu-heading-title"><a href="#">Fotoğraf</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>