@model LoginViewModel

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <form method="post">
        <label>Kullanıcı Adı</label>
        <input type="text" class="form-control" asp-for="Username" />
        <br />
        <label>Şifre</label>
        <input type="password" class="form-control" asp-for="Password" />
        <br />
        <button class="btn btn-warning">Giriş Yap</button>
    </form>
</div>